@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: 
        radial-gradient(
            circle at center,
            #4590c5a8 30%,
            #2d6c98a8 40%,
            #1d3774c4 70%,
            #051129db 100%
        ),
        url('/images/library.svg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}


.container {
    background: white;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 #6788cc;
    border: 1px solid rgba(25, 0, 116, 0.18);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.logo {
    width: 40%;
    height: auto;

}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    color: #1D3774;
}


label {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #0d39581a;
    color: #000;
}

input::placeholder {
    color: #36383a;
    opacity: 0.5;
    font-size: 12px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px 2px #c8daff;
    border: 1px solid #1D3774;
}


.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: #0D3958;
    margin-top: -5px;
}

.remember-forgot label {
    display: flex;
    font-size: 10px;
    align-items: center;
    gap: 5px;
    font-weight: 400;
}

.remember-forgot a {
    font-weight: 400;
    text-decoration: none;
    color: #0D3958;
}

.remember-forgot a:hover {
    text-decoration: underline;
}


.btn {
    background: linear-gradient(90deg, #1D3774, #6AB0E3);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0px;
    width: 20rem;
}

.btn:hover {
    background-color: #6AB0E3;
}

p {
    margin-top: 15px;
    font-size: 12px;
}

a {
    color: #0D3958;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        padding: 30px 20px;
    }

    .logo {
        width: 50%;
    }
}
